In [2]:
# Imports

%pip install seaborn 
%pip install statsmodels
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

Requirement already satisfied: seaborn in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from seaborn) (2.0.2)
Requirement already satisfied: pandas>=1.2 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from seaborn) (3.9.4)
Requirement already satisfied: contourpy>=1.0.1 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.5.2)
Requirement already satisfied: pytz>=2020.1 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: zipp>=3.1.0 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.21.0)
Requirement already satisfied: six>=1.5 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Collecting statsmodels
  Downloading statsmodels-0.14.4-cp39-cp39-macosx_10_9_x86_64.whl.metadata (9.2 kB)
Requirement already satisfied: numpy<3,>=1.22.3 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from statsmodels) (2.0.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from statsmodels) (2.2.3)
Collecting patsy>=0.5.6 (from statsmodels)
  Downloading patsy-1.0.1-py2.py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: packaging>=21.3 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: six>=1.5 in /Applications/anaconda3/envs/capstone_env/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)
Downloading statsmodels-0.14.4-cp39-cp39-macosx_10_9_x86_64.whl (10.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.2/10.2 MB 51.3 MB/s eta 0:00:0000:01
Downloading patsy-1.0.1-py2.py3-none-any.whl (232 kB)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-1.0.1 statsmodels-0.14.4
Note: you may need to restart the kernel to use updated packages.

# Data Frame 1

In [3]:
# Create first data frame
glioma_df1 = pd.read_csv('data/patient_data/difg_glass_2019_clinical_data.tsv', sep='\t')

# Generate an enumerated list of the column names
list(enumerate(glioma_df1.columns))

[(0, 'Study ID'),
 (1, 'Patient ID'),
 (2, 'Sample ID'),
 (3, '1p19q Status'),
 (4, 'Age at First Diagnosis'),
 (5, 'Aliquot Barcode'),
 (6, 'Alkylating Agent Treatment'),
 (7, 'Aneuploidy Amplification Score'),
 (8, 'Aneuploidy Deletion Score'),
 (9, 'Aneuploidy Score'),
 (10, 'Cancer Type'),
 (11, 'Cancer Type Detailed'),
 (12, 'Project Type'),
 (13, 'Chemotherapy Other'),
 (14, 'Chemotherapy Other Cycles'),
 (15, 'Comments'),
 (16, 'Concurrent Chemoradiotherapy'),
 (17, 'Extent of Resection'),
 (18, 'Fraction Genome Altered'),
 (19, 'Gene Panel'),
 (20, 'Grade'),
 (21, 'Histology'),
 (22, 'Recurrent Tumor Hypermutation Status'),
 (23, 'IDH-codel Subtype'),
 (24, 'IDH Status'),
 (25, 'Initial Grade'),
 (26, 'Initial Tumor Histology'),
 (27, 'MGMT Methylation Status'),
 (28, 'MGMT Methylation Method'),
 (29, 'MNP Classification'),
 (30, 'Mutation Count'),
 (31, 'Oncotree Code'),
 (32, 'Overall Survival (Months)'),
 (33, 'Overall Survival Status'),
 (34, 'Post Recurrence Survival(months)'),
 (35, 'Radiation Dose (Gray units)'),
 (36, 'Radiation Other'),
 (37, 'Radiotherapy'),
 (38, 'Radiotherapy Fractions'),
 (39, 'Sample Class'),
 (40, 'Number of Samples Per Patient'),
 (41, 'Sample Type'),
 (42, 'Sex'),
 (43, 'Somatic Status'),
 (44, 'Surgery Number'),
 (45, 'Surgery Indication'),
 (46, 'Time to first recurrence (months)'),
 (47, 'Tissue Source SIte'),
 (48, 'TMB (nonsynonymous)'),
 (49, 'Temozolomide Cycles'),
 (50, 'Temozolomide Treatment'),
 (51, 'Transcriptional Subtype'),
 (52, 'Tumor Laterality'),
 (53, 'Tumor Location'),
 (54, 'Surgery Type'),
 (55, 'WHO Classification'),
 (56, 'Whole Exome Sequenced'),
 (57, 'Whole Genome Sequenced')]

In [4]:
# Extract valuable features 

df_1 = glioma_df1.iloc[: , [10, 11, 20, 53, 42, 4]].copy()
df_1.head(3)

,Cancer Type,Cancer Type Detailed,Grade,Tumor Location,Sex,Age at First Diagnosis
0,Glioma,Glioblastoma,IV,NaN,Male,71.0
1,Glioma,Glioblastoma,IV,Occipital lobe,Male,71.0
2,Glioma,Glioblastoma,IV,NaN,Male,61.0

In [5]:
# Change the names of columnms (if necessary)

df_1.rename(columns={'Age at First Diagnosis': 'Age', 'Grade':'Tumor Grade'}, inplace=True)
df_1

,Cancer Type,Cancer Type Detailed,Tumor Grade,Tumor Location,Sex,Age
0,Glioma,Glioblastoma,IV,NaN,Male,71.0
1,Glioma,Glioblastoma,IV,Occipital lobe,Male,71.0
2,Glioma,Glioblastoma,IV,NaN,Male,61.0
3,Glioma,Glioblastoma,IV,Temporal lobe,Male,61.0
4,Glioma,Glioblastoma,IV,NaN,Male,57.0
...,...,...,...,...,...,...
439,Glioma,Diffuse Astrocytoma,II,NaN,Male,29.0
440,Glioma,Diffuse Astrocytoma,II,NaN,Male,27.0
441,Glioma,Diffuse Astrocytoma,II,NaN,Male,27.0
442,Glioma,Anaplastic Astrocytoma,III,NaN,Female,42.0
443,Glioma,Diffuse Astrocytoma,II,NaN,Female,42.0

# Data Frame 2

In [6]:
glioma_df2 = pd.read_csv('data/patient_data/difg_glass_clinical_data.tsv', sep='\t')
list(enumerate(glioma_df2.columns))

[(0, 'Study ID'),
 (1, 'Patient ID'),
 (2, 'Sample ID'),
 (3, 'Age'),
 (4, 'Analysis Type'),
 (5, 'Aklylating Agents Treatment'),
 (6, 'Cancer Type'),
 (7, 'Cancer Type Detailed'),
 (8, 'Project ID'),
 (9, 'Codeletion Status'),
 (10, 'DNA Aliquot Barcode'),
 (11, 'ESTIMATE Score'),
 (12, 'Fraction Genome Altered'),
 (13, 'Histology'),
 (14, 'IDH and Codeletion Status'),
 (15, 'IDH Status'),
 (16, 'Immune Score'),
 (17, 'MGMT Methylation'),
 (18, 'MGMT Methylation Method'),
 (19, 'Mutation Count'),
 (20, 'Oncotree Code'),
 (21, 'Overall Survival (months)'),
 (22, 'Overall Survival'),
 (23, 'Purity'),
 (24, 'RNA Aliquot Barcode'),
 (25, 'Number of Samples Per Patient'),
 (26, 'Sample Type'),
 (27, 'Sex'),
 (28, 'Stromal Score'),
 (29, 'Surgery Extent of Resection'),
 (30, 'Surgery Indication'),
 (31, 'Surgery Laterality'),
 (32, 'Surgery Location'),
 (33, 'Surgery Type'),
 (34, 'Tissue Source'),
 (35, 'Concurrent TMZ Treatment'),
 (36, 'Radiation Dose'),
 (37, 'Radiotherapy Treatment'),
 (38, 'TMZ Treatment'),
 (39, 'TMZ Treatment Cycles'),
 (40, '6 TMZ Treatment Cycles'),
 (41, 'Tumor Classification'),
 (42, 'Tumor Grade')]

In [7]:
df_2 = glioma_df2.iloc[: , [6, 7, 42, 32, 27]].copy()
df_2.head(5)

  Cancer Type Cancer Type Detailed Tumor Grade Surgery Location   Sex
0      Glioma         Glioblastoma          IV              NaN  Male
1      Glioma         Glioblastoma          IV   Occipital lobe  Male
2      Glioma         Glioblastoma          IV              NaN  Male
3      Glioma         Glioblastoma          IV    Temporal lobe  Male
4      Glioma         Glioblastoma          IV              NaN  Male

In [8]:
# Adjust column names
df_2.rename(columns={'Surgery Location':'Tumor Location'}, inplace=True)

In [9]:
df_2.head()

  Cancer Type Cancer Type Detailed Tumor Grade  Tumor Location   Sex
0      Glioma         Glioblastoma          IV             NaN  Male
1      Glioma         Glioblastoma          IV  Occipital lobe  Male
2      Glioma         Glioblastoma          IV             NaN  Male
3      Glioma         Glioblastoma          IV   Temporal lobe  Male
4      Glioma         Glioblastoma          IV             NaN  Male

# Concatenate df_1 and df_2

In [10]:
main_df = pd.concat([df_1, df_2], ignore_index=True)
main_df.head()

  Cancer Type Cancer Type Detailed Tumor Grade  Tumor Location   Sex   Age
0      Glioma         Glioblastoma          IV             NaN  Male  71.0
1      Glioma         Glioblastoma          IV  Occipital lobe  Male  71.0
2      Glioma         Glioblastoma          IV             NaN  Male  61.0
3      Glioma         Glioblastoma          IV   Temporal lobe  Male  61.0
4      Glioma         Glioblastoma          IV             NaN  Male  57.0

# Data Frame 3

In [11]:
# Imort the third data frame

glioma_df3 = pd.read_csv('data/patient_data/difg_msk_2023_clinical_data.tsv', sep='\t') 
list(enumerate(glioma_df3.columns))

[(0, 'Study ID'),
 (1, 'Patient ID'),
 (2, 'Sample ID'),
 (3, '1p19q Status'),
 (4, 'Diagnosis Age'),
 (5, 'Age at Which Sequencing was Reported (Years)'),
 (6, 'Cancer Type'),
 (7, 'Cancer Type Detailed'),
 (8, 'Clinical or Research Impact'),
 (9, 'Disease Free (Months)'),
 (10, 'Disease Free Status'),
 (11, 'Fraction Genome Altered'),
 (12, 'Gene Panel'),
 (13, 'Neoplasm Histologic Type Name'),
 (14, 'Institute Source'),
 (15, 'Metastatic Site'),
 (16, 'MGMT Status'),
 (17, 'MSI Score'),
 (18, 'MSI Type'),
 (19, 'Mutation Count'),
 (20, 'Oncotree Code'),
 (21, 'Overall Survival (Months)'),
 (22, 'Overall Survival Status'),
 (23, 'Period1 Growth Rate'),
 (24, 'Period2 Growth Rate'),
 (25, 'Primary Tumor Site'),
 (26, 'Quartile Period1 Growth Rate'),
 (27, 'Quartile Period2 Growth Rate'),
 (28, 'Race Category'),
 (29, 'Sample Class'),
 (30, 'Number of Samples Per Patient'),
 (31, 'Sample coverage'),
 (32, 'Sample Type'),
 (33, 'Sex'),
 (34, 'Somatic Status'),
 (35, 'TMB (nonsynonymous)'),
 (36, 'Tumor Purity'),
 (37, 'WHO Grade')]

In [12]:
# Extract the desired features from the third data frame

df_3 = glioma_df3.iloc[: , [6, 7, 37, 25, 33, 5, 28]].copy()
df_3.head()

,Cancer Type,Cancer Type Detailed,WHO Grade,Primary Tumor Site,Sex,Age at Which Sequencing was Reported (Years),Race Category
0,Glioma,Anaplastic Oligodendroglioma,G3,Brain,Female,41.0,ASIAN-FAR EAST/INDIAN SUBCONT
1,Glioma,Astrocytoma,G3,Brain,Male,30.0,WHITE
2,Glioma,Anaplastic Oligodendroglioma,G3,Brain,Male,37.0,WHITE
3,Glioma,Oligodendroglioma,G2,Brain,Male,56.0,ASIAN-FAR EAST/INDIAN SUBCONT
4,Glioma,Anaplastic Oligoastrocytoma,G3,Brain,Female,42.0,WHITE

In [13]:
# Adjust the feature names to match primary df

df_3.rename(columns={'WHO Grade':'Tumor Grade','Primary Tumor Site':'Tumor Location','Age at Which Sequencing was Reported (Years)':'Age'}, inplace=True)
df_3.head()

,Cancer Type,Cancer Type Detailed,Tumor Grade,Tumor Location,Sex,Age,Race Category
0,Glioma,Anaplastic Oligodendroglioma,G3,Brain,Female,41.0,ASIAN-FAR EAST/INDIAN SUBCONT
1,Glioma,Astrocytoma,G3,Brain,Male,30.0,WHITE
2,Glioma,Anaplastic Oligodendroglioma,G3,Brain,Male,37.0,WHITE
3,Glioma,Oligodendroglioma,G2,Brain,Male,56.0,ASIAN-FAR EAST/INDIAN SUBCONT
4,Glioma,Anaplastic Oligoastrocytoma,G3,Brain,Female,42.0,WHITE

In [14]:
# Count null values for all features in the data frame
df_3.isnull().sum()

Cancer Type              0
Cancer Type Detailed     0
Tumor Grade             15
Tumor Location           8
Sex                      0
Age                      8
Race Category            8
dtype: int64

### 'Tumor Grade' feature for df_3

In [15]:
# Determine the unique values of the Tumor Grade feature
df_3['Tumor Grade'].unique()

array(['G3', 'G2', nan, 'G4'], dtype=object)

In [16]:
# Edit the values of the Tumor Grade feature to match the values in the primary df
df_3['Tumor Grade'] = df_3['Tumor Grade'].replace('G2', 2)
df_3['Tumor Grade'] = df_3['Tumor Grade'].replace('G3', 3)
df_3['Tumor Grade'] = df_3['Tumor Grade'].replace('G4', 4)

# Check to see if the edits were successful
df_3['Tumor Grade'].unique()

/var/folders/0c/0kzjqwdx73z1h7c3lqy8mvdc0000gp/T/ipykernel_1626/9693064.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_3['Tumor Grade'] = df_3['Tumor Grade'].replace('G4', 4)

array([ 3.,  2., nan,  4.])

In [17]:
# Fill the null values of the Tumor Grade feature 
df_3['Tumor Grade'].fillna(1, inplace=True)

# Change the data type of the Tumor Grade feature to integer
df_3['Tumor Grade'] = df_3['Tumor Grade'].astype(int)

# Check to see if the changes were successful
df_3['Tumor Grade'].unique()

/var/folders/0c/0kzjqwdx73z1h7c3lqy8mvdc0000gp/T/ipykernel_1626/3926259789.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_3['Tumor Grade'].fillna(1, inplace=True)

array([3, 2, 1, 4])

In [18]:
# Change data type of Tumor Grade feature to integer

df_3['Tumor Grade'] = df_3['Tumor Grade'].astype(int)

### 'Age' feature

In [19]:
# Change data type of Age feature to integer

df_3['Age'] = df_3['Age'].astype(pd.Int64Dtype())
df_3['Age'].unique()

<IntegerArray>
[  41,   30,   37,   56,   42,   63,   33,   39,   53,   50,   43,   48,   46,
   62,   25,   29,   35,   24,   68,   40,   51,   21,   45,   61,   31,   47,
   32,   57,   22,   34,   36,   44,   18,   19,   38,   65, <NA>]
Length: 37, dtype: Int64

In [20]:
df_3.head()

,Cancer Type,Cancer Type Detailed,Tumor Grade,Tumor Location,Sex,Age,Race Category
0,Glioma,Anaplastic Oligodendroglioma,3,Brain,Female,41,ASIAN-FAR EAST/INDIAN SUBCONT
1,Glioma,Astrocytoma,3,Brain,Male,30,WHITE
2,Glioma,Anaplastic Oligodendroglioma,3,Brain,Male,37,WHITE
3,Glioma,Oligodendroglioma,2,Brain,Male,56,ASIAN-FAR EAST/INDIAN SUBCONT
4,Glioma,Anaplastic Oligoastrocytoma,3,Brain,Female,42,WHITE

### Concatenation of df_3 to primary_df

In [ ]:
# Add an empty 'Race Category' feature to main_df
main_df['Race Category'] = np.nan
main_df['Race Category']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1132   NaN
1133   NaN
1134   NaN
1135   NaN
1136   NaN
Name: Race Category, Length: 1137, dtype: float64

In [23]:
# Concatnate the third data frame to the main data frame
main_df = pd.concat([main_df, df_3], ignore_index=True)
main_df

,Cancer Type,Cancer Type Detailed,Tumor Grade,Tumor Location,Sex,Age,Race Category
0,Glioma,Glioblastoma,IV,NaN,Male,71.0,NaN
1,Glioma,Glioblastoma,IV,Occipital lobe,Male,71.0,NaN
2,Glioma,Glioblastoma,IV,NaN,Male,61.0,NaN
3,Glioma,Glioblastoma,IV,Temporal lobe,Male,61.0,NaN
4,Glioma,Glioblastoma,IV,NaN,Male,57.0,NaN
...,...,...,...,...,...,...,...
1278,Glioma,Oligodendroglioma,1,NaN,Male,<NA>,NaN
1279,Glioma,Oligodendroglioma,1,NaN,Male,<NA>,NaN
1280,Glioma,Oligodendroglioma,1,NaN,Male,<NA>,NaN
1281,Glioma,Oligodendroglioma,1,NaN,Female,<NA>,NaN
1282,Glioma,Astrocytoma,1,NaN,Male,<NA>,NaN

# Data Frame 4

In [47]:
glioma_df4 = pd.read_csv('data/patient_data/difg_tcga_gdc_clinical_data.tsv', sep='\t')
glioma_df4.describe()

,Diagnosis Age,Disease Free (Months),Fraction Genome Altered,Mutation Count,Overall Survival (Months),Number of Samples Per Patient,Year of Death,Year of Diagnosis
count,528.000000,134.000000,529.000000,521.000000,528.000000,530.000000,98.000000,529.000000
mean,42.791667,26.206775,0.117425,43.504798,32.354445,1.052830,2006.030612,2009.052930
std,13.331355,23.690846,0.104864,408.400040,32.235618,0.223906,4.991651,4.477748
min,18.000000,0.000000,0.000000,1.000000,-0.032852,1.000000,1995.000000,1992.000000
25%,32.000000,13.750534,0.052400,16.000000,13.395204,1.000000,2002.000000,2008.000000
50%,41.000000,20.153204,0.090800,23.000000,23.176741,1.000000,2008.000000,2011.000000
75%,53.000000,32.909228,0.152600,31.000000,40.653745,1.000000,2010.000000,2012.000000
max,86.000000,172.765230,0.947400,9336.000000,211.005256,2.000000,2013.000000,2013.000000

In [49]:
list(enumerate(glioma_df4.columns))

[(0, 'Study ID'),
 (1, 'Patient ID'),
 (2, 'Sample ID'),
 (3, 'Diagnosis Age'),
 (4, 'Biopsy Site'),
 (5, 'Cancer Type'),
 (6, 'Cancer Type Detailed'),
 (7, 'Disease Free (Months)'),
 (8, 'Disease Free Status'),
 (9, 'Disease Type'),
 (10, 'Ethnicity Category'),
 (11, 'Fraction Genome Altered'),
 (12, 'ICD-10 Classification'),
 (13, 'Is FFPE'),
 (14, 'Morphology'),
 (15, 'Mutation Count'),
 (16, 'Oncotree Code'),
 (17, 'Overall Survival (Months)'),
 (18, 'Overall Survival Status'),
 (19, 'Other Patient ID'),
 (20, 'Other Sample ID'),
 (21, 'Primary Diagnosis'),
 (22, 'Patient Primary Tumor Site'),
 (23, 'Prior Malignancy'),
 (24, 'Prior Treatment'),
 (25, 'Project Identifier'),
 (26, 'Project Name'),
 (27, 'Project State'),
 (28, 'Race Category'),
 (29, 'Number of Samples Per Patient'),
 (30, 'Sample Type'),
 (31, 'Sex'),
 (32, "Patient's Vital Status"),
 (33, 'Year of Death'),
 (34, 'Year of Diagnosis')]

In [53]:
glioma_df4['Prior Malignancy'].unique()

array([False, True, nan], dtype=object)

In [51]:
list(enumerate(glioma_df4.iloc[:, 0:25]))

[(0, 'Study ID'),
 (1, 'Patient ID'),
 (2, 'Sample ID'),
 (3, 'Diagnosis Age'),
 (4, 'Biopsy Site'),
 (5, 'Cancer Type'),
 (6, 'Cancer Type Detailed'),
 (7, 'Disease Free (Months)'),
 (8, 'Disease Free Status'),
 (9, 'Disease Type'),
 (10, 'Ethnicity Category'),
 (11, 'Fraction Genome Altered'),
 (12, 'ICD-10 Classification'),
 (13, 'Is FFPE'),
 (14, 'Morphology'),
 (15, 'Mutation Count'),
 (16, 'Oncotree Code'),
 (17, 'Overall Survival (Months)'),
 (18, 'Overall Survival Status'),
 (19, 'Other Patient ID'),
 (20, 'Other Sample ID'),
 (21, 'Primary Diagnosis'),
 (22, 'Patient Primary Tumor Site'),
 (23, 'Prior Malignancy'),
 (24, 'Prior Treatment')]

In [ ]:
df_4 = glioma_df4.iloc[: , [5, 6, _, 22, _, 3, 10, ]]